html, body{
    margin: 0;
    background-color: #15b11b;
    overflow-x:hidden;
    width: 100%;
}

.header{
    background-color: rgb(26, 26, 26);
    width: 100%;
}


.header__title{
    text-align: center;
    color: white;
    
}

.carta{
    width: 100px;
    position: relative;
    left: 80px;
    margin-left: -50px;
}

#jugador-cartas, #id-cartas{
    height: 180px;
}



/* responsive */

@media(max-width: 490px){
    .header{
        padding: 1rem 0;
        margin-bottom: 1.5rem;
    }

    .btn{
        margin-bottom: 1rem;
    }

    .title__player, .title__ia{
        font-size: 2rem;
        text-align: center;
    }

    .carta{
        width: 90px;
        position: relative;
        left: 130px;
        margin-left: -50px;
    }
    
    #jugador-cartas, #id-cartas{
        height: 160px;
    }
}